.alert.alert-info {
    background-color: #F7F8F8;
    color: var(--primary);
}   

#banner { 
    background-color: #f7f8f8;
}

// background-color: #var(--tertiary);

.user-menu .quick-access-panel li {
    background-color: #f7f8f8;
}